/*set background position to select the suit from the svg*/
body {
  background-color: green;
  height: 100%;
}

h1 {
  font-size: 4em;
  text-align: center;
  color: #ffffff;
  font-family: Century,serif;
  padding: .5em;
}

.table {
  width: 75%;
  margin: auto;
  height: auto;
  position: relative;
  perspective: 800px;
}

.card, .front, .back {
  height: 160px;
  width: 114px;
  backface-visibility: hidden;
}

.card {
  float: left;
  margin-left: 3em;
  margin-bottom: 2em;
  background:;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}

.back.flipped {
  transform: rotateY(180deg);
  transition: all .5s linear;
}

.back {
  z-index: 20;
  position: relative;
  background-image:url('../img/bicycle-back.jpg');
  background-size: cover;
  top: 0px;
  border-radius: .7em;
  transform: rotateY(0deg);
}

.front {
  position: relative;
  top: -160px;
  /*z-index: 1;*/
  width: auto;
  border-radius:.7em;
  background-color: white;
  transform: rotateY(0deg);
}


.front .spade {
  position: relative;
  top: 20px;
  /*z-index: 1;*/
  width: auto;
  border-radius:.7em;
  height: 120px;
  background-image: url('../img/french-suits.svg');
  background-size: 230px 400px;
  background-repeat: no-repeat;
  background-position: -10% 30%; /*spade*/
  transform: rotateY(180deg);

}

.front .heart {
  position: relative;
  top: 20px;
  /*z-index: 1;*/
  width: auto;
  border-radius:.7em;
  height: 120px;
  background-image: url('../img/french-suits.svg');
  background-size: 230px 400px;
  background-repeat: no-repeat;
  background-position: 100% 30%; /*heart*/
  transform: rotateY(180deg);
}

.front .diamond {
  position: relative;
  top: 20px;
  /*z-index: 1;*/
  width: auto;
  border-radius:.7em;
  height: 120px;
  background-image: url('../img/french-suits.svg');
  background-size: 230px 400px;
  background-repeat: no-repeat;
  background-position: -10% 70%; /*diamond*/
  transform: rotateY(180deg);
}

.front .club {
  position: relative;
  top: 20px;
  /*z-index: 1;*/
  width: auto;
  border-radius:.7em;
  height: 120px;
  background-image: url('../img/french-suits.svg');
  background-size: 230px 400px;
  background-repeat: no-repeat;
  background-position: 100% 70%; /*club*/
  transform: rotateY(180deg);
}
